<div class='container text-center mt-5'>
    {{!-- gotta change the logic in index.hbs abit if you want to implement current location weather, but im lazy --}}
    {{#if title}}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}!</p>

    <p>Search a city to get its current weather report.</p>
    <p>Example: Los Angeles, CA</p>
    {{! Action means go to that route }}
    <form action='/weather' method='GET'>
        <input name='city' placeholder='Search your city' />
        <button type='submit'>GET WEATHER</button>
    </form>
    
    {{#if data}}

    <img src='https://darksky.net/images/weather-icons/{{data.icon}}.png'>
    <h4>Weather forecast at your current location</h4>
    <h2><b>{{temperature}}˚ {{summary}}.</b></h2>
    <h3>
        <b>Feels like</b> {{apparentTemperature}}˚
        <b>Low:</b> {{data.temperatureLow}}
        <b>High:</b> {{data.temperatureHigh}}
    </h3>
    <h3>{{data.summary}}</h3>
    {{/if}}

    {{/if}}

    {{#if error}}
    <h2>{{error}}</h2>
    {{/if}}

    <script src="/javascripts/myscript.js" type="text/javascript"></script>

</div>